body {margin:0;}

.navbar {
  overflow: hidden;
  border-bottom: 2px solid #007DC2;
  background: #E2F4FD;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #007DC2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.navbar > img{
    height: 38px;
    margin: 6px;
    margin-left: 16px;
}